{#
/**
 * @file
 * Default theme implementation for the message form.
 *
 * Available variables:
 * - form: The form render array.
 * - form.form_build_id: Hidden field with the form build ID.
 * - form.form_token: Hidden field with the form token.
 * - form.form_id: Hidden field with the form ID.
 * - form.my_agreement_for_uploads_wrapper: Wrapper containing the agreement checkbox.
 * - form.my_agreement_for_uploads_wrapper.my_agreement_for_uploads: The agreement checkbox itself.
 * - form.body: The message body field.
 * - form.field_message_images_wrapper: Wrapper containing the image upload field.
 * - form.field_message_images_wrapper.field_message_images: The image upload field.
 * - form.actions: The form actions (e.g., submit button).
 * - Other form elements as defined in MessageForm::buildForm().
 *
 * @see template_preprocess_message_form()
 * @see \Drupal\match_messaging\Form\MessageForm::buildForm()
 */
#}
{#
  Ensure you print out the children of the form element. Otherwise, important
  hidden fields like form_build_id, form_token and form_id will not be
  rendered and the form will not submit correctly.
#}
{# {{ form|without('body', 'my_agreement_for_uploads_wrapper', 'field_message_images_wrapper', 'actions') }} #}

<form{{ attributes }}>
  {# These are important for form submission. #}
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
  <div class="form-container">
{{ form.body }}
{{ form.field_message_images_wrapper.field_message_images }}
{{ form.my_agreement_for_uploads_wrapper.my_agreement_for_uploads }}
{{ form.actions }}


    </div>
</form>
